In [1]:
import mysql.connector
import credentials as cred

In [2]:
db = mysql.connector.connect(
    host = cred.host,
    user = cred.user,
    password = cred.password,
    database = cred.database)

In [3]:
mycursor = db.cursor(buffered=True)

In [154]:
# Creating Person table 
mycursor.execute('CREATE TABLE IF NOT EXISTS Person (name VARCHAR(50), age smallint UNSIGNED, PersonID int PRIMARY KEY AUTO_INCREMENT)')        
mycursor.execute('INSERT INTO Person (name,age) VALUES (%s,%s)',('Tree',21))

In [272]:
# Recreating Poop table

mycursor.execute("DROP TABLE Poop")
mycursor.execute("CREATE TABLE Poop(poopid int PRIMARY KEY AUTO_INCREMENT,crap VARCHAR(50))")

In [276]:
new_crap = [("Me")] # New 

Q1 = "INSERT INTO Poop (crap) VALUES (%s)"
mycursor.execute(Q1,new_crap)
db.commit()

mycursor.execute("SELECT * FROM Poop")
for each in mycursor:
    print(each)
test_lastrowid = mycursor.lastrowid
print(test_lastrowid)

(1, 'Me')
(2, 'Me')
(3, 'Me')
(4, 'Me')
4

In [359]:
# Users and scores list
users = [("Chewy","Chewypass"),
        ("Twee","tweepass"),
        ("Dug","Dugpass")]
scores = [(10,10),
          (9,9),
          (8,8)]

In [360]:
# Creating user, score tables
mycursor.execute("DROP TABLE Scores")
mycursor.execute("DROP TABLE Users")
Q1 = "CREATE TABLE IF NOT EXISTS Users(id int PRIMARY KEY AUTO_INCREMENT,name VARCHAR(50),passwd VARCHAR(50))"
Q2 = "CREATE TABLE IF NOT EXISTS Scores(userId int PRIMARY KEY, FOREIGN KEY(userId) REFERENCES Users(id))"

mycursor.execute(Q1)
mycursor.execute(Q2)

# forgot to add game1 and game 2 to scores table
insert_q = "ALTER TABLE Scores ADD (game1 int DEFAULT 0, game2 int DEFAULT 0)"
mycursor.execute(insert_q)

In [362]:
Q1 = "INSERT INTO Users (name,passwd) VALUES(%s,%s)"
Q2 = "INSERT INTO Scores (userId,game1,game2) VALUES(%s,%s,%s)"
# Enter the users and scores in tables 1 by 1 making sure that the userid's match
for x,user in enumerate(users):
    mycursor.execute(Q1,user)
    lastid = mycursor.lastrowid
    mycursor.execute(Q2,(lastid,) + scores[x])
db.commit()

print("SCORE USER TABLE")
mycursor.execute("SELECT * FROM Users")
for each in mycursor:
    print(each)
    
print("SCORE TABLE")
mycursor.execute("SELECT * FROM Scores")
for each in mycursor:
    print(each)

SCORE USER TABLE
(1, 'Chewy', 'Chewypass')
(2, 'Twee', 'tweepass')
(3, 'Dug', 'Dugpass')
(4, 'Chewy', 'Chewypass')
(5, 'Twee', 'tweepass')
(6, 'Dug', 'Dugpass')
SCORE TABLE
(1, 10, 10)
(2, 9, 9)
(3, 8, 8)
(4, 10, 10)
(5, 9, 9)
(6, 8, 8)

In [ ]:
# Testing new change